@font-face {
   font-family: 'Diwani Simple Striped';
   src: url('Diwani Simple Striped/font.ttf');
}
@font-face {
   font-family: 'arbfonts-diwany-thuluth';
   src: url('arbfonts-diwany-thuluth/font.ttf');
}
